'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'MscGen Preview'
    'submenu': [
      'label': 'Toggle Preview'
      'command': 'mscgen-preview:toggle'
    ]
  ]
]
'context-menu':
  '.mscgen-preview': [
    {label: 'Save As SVG\u2026', command: 'core:save-as'}
  ]
